{% block nanjang_list %}
{% load staticfiles %}

<div class="dummy dummy_margin" id="n_nanjang_info"></div>

<div class="category">
    <img src="{% static '/image/nanjang.jpg' %}">
</div>


<div class="row">
    {% for nanjang in nanjang_list %}
    <div class="list col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card list_margin margin_bottom">
            {% if nanjang.menu %}
            <img class="card-img-top jujum-card" src="{{ nanjang.menu.url }}"> 
            {% else %}
            <img class="card-img-top jujum-card" src="/static/image/default.jpg"> 
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {{ nanjang.title }}
                    <span class="badge badge-danger">New</span>
                </h5>
                <div class="tag_section">
                    {% for tag in nanjang.tags.all %}
                        <li class= "tag_display"> #{{ tag }} </li>
                    {% endfor %}
                </div>
                <br />
                <a href="{% url 'nanjang:detail' nanjang.pk %}" class="btn btn-light more">more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}