{% load staticfiles %}
<div classs="dummy dummy_margin" id="calender_info"></div>

<div class="category">
    <img src="{% static '/image/calendar.jpg' %}"style="width:380px; height:57px;">
</div>



<div class="row" id="calendar">
    <div class="col-md-4">
        <h3>5월 8일</h3>
        <p> 위너 </p>
    </div>
    <div class="col-md-4">
        <h3>5월 9일</h3>
        <p> 유병재(토크 콘서트), 헤이즈 </p>
    </div>
    <div class="col-md-4">
        <h3>5월 10일</h3>
        <p> 현아, 지코 </p>
    </div>
</div>