{% load staticfiles %}
<div class="dummy dummy_margin" id="calender_info"></div>

<div class="category">
    <img src="{% static '/image/calendar.jpg' %}">
</div>

<div class="row" id="calendar">
    <div class="col-sm-12 col-md-4">
        <h3 class="calendar-title">5월 8일</h3>
        <img class="calendar-img img-fluid" src="{% static 'image/ybj.jpg' %}">
        <p class="calendar-content"></p>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3 class="calendar-title">5월 9일</h3>
        <img class="calendar-img img-fluid" src="{% static 'image/ybj.jpg' %}">
        <p class="calendar-content">유병재 오는 날 토마토 쓱싹쓱싹 유규선씨~~ 예엥이ㅣ이</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3 class="calendar-title">5월 10일</h3>
        <img class="calendar-img img-fluid" src="{% static 'image/ybj.jpg' %}">
    </div>
</div>