{% load staticfiles %}

<div class="dummy dummy_margin" id="n_calender_info"></div>

<div class="category">
    <img src="{% static '/image/calendar.jpg' %}">
</div>

<div class="row" id="calendar">

    <div class="col-sm-12 col-md-6">
        <a href="#calendar_1" data-toggle="collapse" aria-expanded="false" aria-controls="calendar_1">
            <img class="calendar-img img-fluid" src="{% static 'image/calendar_1.jpg' %}">
        </a>
    </div>
    <div class="collapse col-sm-12 col-md-6" id="calendar_1">
        <h3 class="content-title"> ✨2018 원광대학교 원탑대동제✨ [WONDERFUL] : 원하는 것보다 더 잘 풀리길! </h3>
        <p class="calendar-content">
            한눈에 알아보는 🎉2018 원탑대동제 WONDERFUL🎉, 한 눈에 알아보자! -축제 가이드북📚 
            <br/>안녕하세요? 원광대학교 학우여러분 더 나은 강의환경, 불편하지 않게 다닐 수 있는 캠퍼스를 만드는 새로고침 총학생회입니다❣
            <br/>✅드디어 !! 2018년 5월 8일 (화) ~ 2018 5월 10일 (목), 3일간 2018 원광대학교 원탑대동제 WONDERFUL이 열릴 예정입니다! 
            <br/>✅LINE-UP 5.8(화) WINNER 5.9(수) 유병재, 헤이즈 5.10(목) 지코, 현아 (스탠딩석에 한하여 재학생우선 입장합니다. 게시물참고) 
            <br/>✅WITH 멍때리기 대회/ 원대골든벨/ 프리마켓/ 야간주점/ 푸드트럭/ 클럽부스/ 야간캠핑장/ 한복대여 포토존 등과 같은 다양한 부스도 운영할 예정이니 학우여러분들의 많은 관심과 참여 부탁드립니다! 
            <br/>* 클럽부스는 외부업체이며 운영부분부터 금전부분까지 총학생회와는 무관합니다.
            <br/>🎉원탑대동제 WONDERFUL🎉에서 즐거운 시간 보내시고, 다양한 행사도 함께 운영될 예정이니 학우여러분들의 많은 관심과 참여 부탁드립니다❣ 
        </p>
    </div>

    <!-- 한복 대여 포토존 -->
    <div class="col-sm-12 col-md-12">
        <h3 class="calendar-title">5월 8일 ~ 5월 10일</h3>
    </div>

    <div class="col-sm-12 col-md-6" >
        <a href="#hanbok" data-toggle="collapse" aria-expanded="false" aria-controls="hanbok">
            <img class="calendar-img img-fluid" src="{% static 'image/photozone.jpg' %}">
        </a>
    </div>
    <div class="collapse in col-sm-12 col-md-6" id="hanbok">
            <h3 class="content-title">👘 한복대여 포토존 👘 </h3>
            <p class="calendar-content">
                <br/>▶ 기 간 : 2018년 5월 8일(화) ~ 5월 10일(목) 
                <br/>▶ 장 소 : 학생회관 앞 새세대광장 
                <br/>▶ 시 간 : PM 12:00 ~ 18:00 
                <br/>알록달록 한국 전통의 미, 한복 체험
                <br/>👘 옛 정서를 느낄 수 있는, 옛날 교복 체험
                <br/>👔 미리 느껴보는 설레임, 웨딩드레스 체험
                <br/>👗 2018 원광대학교, 원탑대동제 WONDERFUL에서 한복, 교복, 웨딩드레스 입고 인생샷도 건지고 친구들과 함께 색다른 추억도 남겨보세요❣️
            </p>
    </div>
    
    <div class="col-sm-12 col-md-6">
        <a href="#cutton" data-toggle="collapse" aria-expanded="false" aria-controls="cutton">
            <img class="calendar-img img-fluid" src="{% static 'image/cutton.jpg' %}">
        </a>
    </div>
    <div class="collapse col-sm-12 col-md-6" id="cutton">
        <h3 class="content-title"> # 빈 백 커튼존 </h3>
        <p class="calendar-content">
            <br/>▶ 기 간 : 2018년 5월 8일(화) ~ 5월 10일(목)
            <br/>▶ 시 간 : PM 12:00 ~ 24:00
            <br/>푹신한 쇼파와 함께 하는 #빈백커튼존 
            <br/>5/9일 단 하루! 영화 <나의 소녀시대> 상영과 함께하는 무료 치킨 증정!!!
        </p>
    </div>

    <!-- 골든벨 -->
    <div class="col-sm-12 col-md-12">
        <h3 class="calendar-title">5월 9일</h3>
    </div>

    <div class="col-sm-12 col-md-6" >
        <a data-toggle="collapse" href="#goldenbell" aria-expanded="false" aria-controls="goldenbell">
            <img class="calendar-img img-fluid" src="{% static 'image/5_9_goldenbell.jpg' %}">
        </a>
    </div>

    <div class="collapse col-sm-12 col-md-6" id="goldenbell">
        <h3 class="content-title">🔔 원대 골든벨 🔔 </h3>
        <p class="calendar-content">
            <br/>기출문제 240문제 중 60%(18문제)출제 나머지 40%(12문제)는 학교관련문제 시사 및 상식문제 출제
            <br/> ▶ 대회일정 : 2018년 5월 9일 수요일 오후 1시 30분 ~ 3시 20분 
            <br/> ▶ 대회장소 : 학생회관 앞 새세대광장 
            <br/> ▶ 참가 대상: 원광대학교 재학생 선착순 100명 
            <br/> (참가비 1만원 : 전북은행 / 이중근 / 1021-01-3792334 ) 대박상품 안내 1등_노트북 2등_아이패드 3등_미니빔 프로젝터 
            <br/> ▶ 접수방법  <br />1⃣신청서 링크를 클릭 2⃣양식 작성한 후 제출 <br/>3⃣위 계좌로 참가비 입금 4⃣조직위 운영5팀장 이광현 (010-8735-7217) 으로 문자 ex) 홍길동(이름) 원대 골든벨 입금 완료 했습니다. 
            <br/> ✔ 신청서링크 : <a href="https://form.office.naver.com/form/responseView.cmd?formkey=ZDdjNDI3ZTgtMTc0NC00OWI5LWFlZjAtMDE2MWQ1OGUwZDli&sourceId=urlshare">신청서</a>
            <br/> ✔ 기출문제링크 : <a href="https://drive.google.com/drive/folders/1zqk6COSVZjcHj_Eqi4IlHZ41mz4z7YPn">기출 문제</a>
            <br/> 🗣학우여러분의 2018 원광대학교 원탑대동제 WONDERFUL 행사 많은 참여 부탁드립니다 ! 
            <br/> ☔우천시 장소 추후 공지☔ 
            <br/> 🚨문의사항 🚨 
            <br/> ✔2018 원탑대동제 WONDERFUL 조직위 운영5팀장 이광현 010-8735-7217 
            <br/> ✔새로고침 졸업준비위원장 태수연 010-2329-6052
        </p>
    </div>

    <div class="col-sm-12 col-md-6">
        <a data-toggle="collapse" href="#ybj" aria-expanded="false" aria-controls="ybj">
            <img class="calendar-img img-fluid" src="{% static 'image/5_9_ybj.jpg' %}">
        </a>
    </div>
    <div class="collapse col-sm-12 col-md-6" id="ybj">
        <h3 class="content-title">☄️ 청춘, '고민이' 쏟아진다 ☄️ </h3>
        <p class="calendar-content">
            <br/>▶ 안녕하세요? 원하는 것보다 더 잘 풀리길, 원더풀! 2018 원탑대동제 조직위원회 운영본부장입니다. 
            <br/>▶ 솔직함의 끝판왕이자 B급 감성의 소유자 유병재와 함께하는 토크콘서트 진행을 위해 원광대학교 학우여러분들의 고민을 받아보고자 합니다. 
            <br/>🤔 여러분의 고민은 무엇인가요? 🤔 
            <br/>대학생활 / 연애 / 사회생활 / 나의 미래 +a 
            <br/>▶ 5월 2일(수) 자정까지 아래의 링크를 통해서 고민을 적어주세요!
            <br/>▶ 고민쓰기 : <a href="//bit.ly/고민있어요">고민있어요</a> 
            <br/>📢 설문지로 모인 고민들 중 일부를 추려 5월 9일(수) 원탑대동제 메인무대에서 유병재씨가 답변할 예정입니다.📢 
            <br/>▶ 문의 : 2018 원탑대동제 WONDERFUL 조직위 운영본부장 이중근(010-6489-1495)
        </p>
    </div>

    <div class="col-sm-12 col-md-12">
        <h3 class="calendar-title">5월 10일</h3>
    </div>
    
    <div class="col-sm-12 col-md-6">
        <a data-toggle="collapse" href="#mung" aria-expanded="false" aria-controls="mung">
            <img class="calendar-img img-fluid" src="{% static 'image/5_10_festival.jpg' %}">
        </a>
    </div>
    
    <div class="collapse col-sm-12 col-md-6" id="mung">
        <h3 class="content-title">😵 멍때리기 대회 😵</h3>
        <p class="calendar-content">
            <br/>▶ 대회일정 : 2018. 5. 10 (목) 오후 1시 30분 집결 후 2시 시작(본 대회시간 : 90분)
            <br/>▶대회장소 : 학생회관 앞 새세대광장 ▶참가대상 : 원광대학교 재학생 선착순 100명 (참가비 5000원 : 전북은행 / 이중근 / 1021-01-3792334 ) 
            <br/>📣🚨#_대박상품 안내🚨📣 
            <br/>1등_전동킥보드 2등_자전거 3등_외식상품권(애슐리 디너 2인) 
            <br/>일상생활에 지친 학우여러분들을 위한 상품들이 기다리고 있으니 멍 한번 때리고 상품 받아가세요! 
            <br/>▶접수방법 <br/>1⃣신청서 링크를 클릭 2⃣양식 작성한 후 제출 
            <br/>3⃣위 계좌로 참가비 입금 4⃣조직위 운영3팀장 김준선 (010-8206-8835) 으로 문자 ex) 홍길동(이름) 멍때리기 대회 입금 완료 했습니다! 
            <br/>아래 첨부된 링크를 통해 멍때리기 대회에 많은 참여 부탁드립니다.
            <br/>▶ 신청서링크 : <a href="//naver.me/FdNdG1c8">신청서</a> 
            <br/>학우여러분의 🎉2018 원광대학교 원탑대동제 WONDERFUL🎉 행사 많은 참여 부탁드립니다! 
            <br/>🚨문의사항🚨 2018 원탑대동제 WONDERFUL 조직위 운영3팀장: 김준선 (010-8206-8835) 사회과학대학 학생회장 : 손주환(010-6293-3119)
        </p>
    </div>

</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>