{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>WONDERFUL</title>
    
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullPage.css' %}">
    
    <script src="{% static 'js/index.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    <script>
        $(document).ready(function () {
            $('#fullpage').fullpage({
                anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
                sectionsColor: ['rgba(0, 2, 45, 1)', 'rgba(0, 2, 45, 1)', 'rgba(0, 2, 45, 1)', '#fec402', '#f6c4e2', '#d2c3f4'],
                navigation: true,
                navigationTooltips: ['WONDERFUL', '축제 일정', 'LINE UP', '난장', '주점', 'MAP'],
            });
        });
    </script>
</head>
<body>
    <div id="fullpage">
        <div class="section">
            <a href="{% url 'home:main' %}">
            <div id="wonderful" onclick="movePage();">
                <div class="wonderful_nav">
                    <a id='main_nav' href="{% url 'home:main' %}">상세페이지</a>
                </div>
            </div>
            </a>
        </div>
        
        <div class="section" id="calendar">
            <div class="slide" id="first">
                <div class="row">
                    <div class="col-xs-6 col-md-4"></div>
                    <div class="col-xs-6 col-md-4">
                        <img src="{% static 'image/calendar.jpeg' %}" width=400 onclick="movePage('calendar_info');">
                    </div>
                    <div class="col-xs-6 col-md-4"></div>
                </div>
            </div>

            <div class="slide" id="second">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img src="{% static 'image/golden_bell.jpeg' %}" width=400 onclick="movePage('lineup_info');">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

            <div class="slide" id="third">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img src="{% static 'image/festival_1.jpeg' %}" width=400 onclick="movePage();">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

            <div class="slide" id="forth">
                <div class="row">
                    <div class="col-md-4"></div>                    
                    <div class="col-md-4">
                        <img src="{% static 'image/festival_2.jpeg' %}" width=400 onclick="movePage();">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
          
        </div>
        
        <div class="section">
            <div class="slide" id="lineup">
                <div class="intro"></div>
            </div>

            <div class="slide" id="lineup_1" onclick="movePage('lineup_info');">
                <div class="intro" ></div>
            </div>
            <div class="slide" id="lineup_2" onclick="movePage('lineup_info');">
                <div class="intro"></div>
            </div>
            <div class="slide" id="lineup_3" onclick="movePage('lineup_info');">
                <div class="intro"></div>
            </div>   
        </div>
        
        <div class="section" id="section-3">
            <h1 onclick="movePage();">난장 정보</h1>
        </div>
        <div class="section" id="section-4">
            <h1 onclick="movePage();">주점 정보</h1>
        </div>
        <div class="section" id="map"></div>
    </div>
    


    <script>
       function initMap() {
            var wku = { lat: 35.969285, lng: 126.956408 }
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: wku,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                draggable: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var jujums = [
                // 수덕호 오른쪽 길 건너편
                {
                    position: new google.maps.LatLng(35.969778, 126.956910),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969578, 126.956910),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969378, 126.956910),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969178, 126.956910),
                    type: 'info',
                },
                // 수덕호 오른쪽 
                {
                    position: new google.maps.LatLng(35.969778, 126.956798),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969578, 126.956798),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969378, 126.956798),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969178, 126.956798),
                    type: 'info',
                },
            ];

            var nanjangs = [
                {
                    position: new google.maps.LatLng(35.969129, 126.956706),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969114, 126.956534),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969067, 126.956080),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969090, 126.956300),
                    type: 'info',
                },

                // 수덕호 아래 건너편
                {
                    position: new google.maps.LatLng(35.969049, 126.956706),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969039, 126.956534),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.969009, 126.956300),
                    type: 'info',
                }, {
                    position: new google.maps.LatLng(35.968989, 126.956080),
                    type: 'info',
                },
            ]

            var JujumList = ['주점1', '주점2', '주점3', '주점4', '주점5', '주점6', '주점7', '주점8'];
            var NanjangList = ['난장1', '난장2', '난장3', '난장4', '난장5', '난장6', '난장7', '난장8'];
            var JujumCount = 0;
            var NanjangCount = 0;

            jujums.forEach(function (jujum) {
                var marker = new google.maps.Marker({
                    position: jujum.position,
                    map: map,
                    label: JujumList[JujumCount++],
                    title: "주점",
                });
            });

            nanjangs.forEach(function (nanjang) {
                var marker = new google.maps.Marker({
                    position: nanjang.position,
                    map: map,
                    label: NanjangList[NanjangCount++],
                    title: "난장",
                });
            });
        }
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDksOeoLGmwSM2vTx8S92IORZi2X7iHeXw&callback=initMap"> </script>
</body>
</html>




