{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>WONDERFUL</title>
    <link rel="shortcut icon" href="/static/image/favicon.ico">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullpage.css' %}">
    
    <script src="{% static 'js/index.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js"></script>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    <script>
        $(document).ready(function () {
            $('#fullpage').fullpage({
                anchors: ['#page1', '#page2', '#page3', '#page4' ],
                sectionsColor: ['rgba(0, 2, 45, 1)', 'rgba(0, 2, 45, 1)', 'rgba(0, 2, 45, 1)'],
                navigation: true,
                navigationTooltips: ['WONDERFUL', '축제 일정', 'LINE UP'],
            });
        });
    </script>
</head>
<body>
    <div id="fullpage">
        <div class="section">
            <div id="wonderful"></div>
        </div>
        
        <div class="section" id="calendar">
            <div class="slide" id="first">
                <div class="row">
                    <div class="col-xs-6 col-md-4"></div>
                    <div class="col-xs-6 col-md-4">
                        <img class="main_img" src="{% static 'image/calendar.jpeg' %}" width=400 onclick="movePage('calendar_info');">
                    </div>
                    <div class="col-xs-6 col-md-4"></div>
                </div>
            </div>

            <div class="slide" id="second">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img class="main_img" src="{% static 'image/golden_bell.jpeg' %}" width=400 onclick="movePage('lineup_info');">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

            <div class="slide" id="third">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img class="main_img" src="{% static 'image/festival_1.jpeg' %}" width=400 onclick="movePage();">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

            <div class="slide" id="forth">
                <div class="row">
                    <div class="col-md-4"></div>                    
                    <div class="col-md-4">
                        <img class="main_img" src="{% static 'image/wonderful_schedule.jpeg' %}" width=400 onclick="movePage();">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        
        </div>
        
        <div class="section">
            <div class="slide" id="lineup">
                <div class="intro"></div>
            </div>

            <div class="slide" id="lineup_1" onclick="movePage('lineup_info');">
                <div class="intro" ></div>
            </div>
            <div class="slide" id="lineup_2" onclick="movePage('lineup_info');">
                <div class="intro"></div>
            </div>
            <div class="slide" id="lineup_3" onclick="movePage('lineup_info');">
                <div class="intro"></div>
            </div>   
        </div>
        
    </div>
    
</body>
</html>




