<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" id="jujum_info" aria-current="page">주점 정보</li>
    </ol>
</nav>

<div class="row">
    {% for jujum in jujum_list %}
    <div class="col-md-4">
        <div class="card" style="width: 22rem; margin: 10px;">
            <img class="card-img-top" src="/static/image/main.jpg">
            <div class="card-body">
                <h5 class="card-title">
                    {{ jujum.title }}
                    <span class="badge badge-secondary">New</span>
                </h5>

                <p class="card-text"> {{ jujum.content }} </p>
                {% for tag in jujum.tags.all %}
                <li style="display:inline;"> #{{ tag }} </li>
                {% endfor %}
                <br />
                <a href="{% url 'home:main-jujum' jujum.pk %}" class="btn btn-primary">상세 페이지</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>