{% load staticfiles %}

<div class="dummy dummy_margin" id="lineup_info"></div>
   
<div class="category">
    <img src="{% static '/image/lineup.jpg' %}">
</div>
    
<div class="row" id="lineup">

    <div class="col-sm-12 col-md-4">
        <img class="img-fluid lineup_img" src="/static/image/day1_off.jpg" onmouseover="this.src='/static/image/day1_on.jpg'" onmouseout="this.src='/static/image/day1_off.jpg'">
    </div>
    <div class="col-sm-12 col-md-4">
        <img class="img-fluid lineup_img" src="/static/image/day2_off.jpg" onmouseover="this.src='/static/image/day2_on.jpg'" onmouseout="this.src='/static/image/day2_off.jpg'">

    </div>
    <div class="col-sm-12 col-md-4">
        <img class="img-fluid lineup_img" src="/static/image/day3_off.jpg" onmouseover="this.src='/static/image/day3_on.jpg'" onmouseout="this.src='/static/image/day3_off.jpg'">
    </div>
</div>