{% load staticfiles %}

<div class="dummy dummy_margin" id=""></div>

<nav aria-label="breadcrumb" style="margin-top:100px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">라인업</li>
    </ol>
    </nav>

    <div class="row" id="lineup">
        <div class="col-md-4">
            <img class="img-fluid" src="/static/image/day1.jpg" style="width: 100%; height: 360px; border-radius: 10px;">
            <p> 19 : 00 ~ 22 : 00 </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="{% static 'image/day2.jpg' %}" style="margin-bottom: 10px; width: 100%; height: 360px; border-radius: 10px;">
            <p> 19 : 00 ~ 22 : 00 </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="/static/image/day3.jpg" style="width: 100%; height: 360px; border-radius: 10px;">
            <p> 19 : 00 ~ 22 : 00 </p>
        </div>
</div>