{% extends 'home/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container">

    <div class="main_section">
        <img class="img-fluid" src="/static/image/wonderful.jpg">
    </div>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">축제 일정</li>
        </ol>
    </nav>

    <div class="row" id="calendar">
        <div class="col-md-4">
            <h3>5월 8일</h3>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus odit repudiandae quam ullam. Odit, cupiditate architecto deserunt illum vitae earum eum ea quae animi explicabo labore dolores in perspiciatis consectetur. </p>
        </div>
        <div class="col-md-4">
            <h3>5월 9일</h3>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste rem, sequi soluta veritatis, repellendus labore, saepe aperiam rerum maxime esse culpa amet corporis velit possimus. Laborum suscipit rerum eos eligendi. </p>
        </div>
        <div class="col-md-4">
            <h3>5월 10일</h3>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis pariatur rem velit libero! Repudiandae, veniam eum porro maiores aut maxime sunt tempore adipisci unde eveniet! Libero sit corporis maxime veritatis. </p>
        </div>
    </div>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" id="lineup_info" aria-current="page">라인 업</li>
        </ol>
    </nav>

    <div class="row" id="lineup">
        <div class="col-md-4">
            <h3>5월 8일</h3>
            <img class="img-fluid" src="/static/image/line_up.jpg"  style="width: 100%; height: 360px; border-radius: 10px;">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus odit repudiandae quam ullam. Odit, cupiditate
                architecto deserunt illum vitae earum eum ea quae animi explicabo labore dolores in perspiciatis consectetur.
            </p>
        </div>
        <div class="col-md-4">
            <h3>5월 9일</h3>
            <img class="img-fluid" src="/static/image/line_up.jpg" style="width: 100%; height: 360px; border-radius: 10px;">
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste rem, sequi soluta veritatis, repellendus labore, saepe
                aperiam rerum maxime esse culpa amet corporis velit possimus. Laborum suscipit rerum eos eligendi. </p>
        </div>
        <div class="col-md-4">
            <h3>5월 10일</h3>
            <img class="img-fluid" src="/static/image/line_up.jpg" style="width: 100%; height: 360px; border-radius: 10px;">
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis pariatur rem velit libero! Repudiandae, veniam
                eum porro maiores aut maxime sunt tempore adipisci unde eveniet! Libero sit corporis maxime veritatis. </p>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" id="jujum_info" aria-current="page">주점 정보</li>
        </ol>
    </nav>

    <div class="row">
    {% for jujum in jujum_list %}
        <div class="col-md-4">
            <div class="card" style="width: 22rem; margin: 10px;">
                <img class="card-img-top" src="/static/image/main.jpg">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ jujum.title }}
                        <span class="badge badge-secondary">New</span>
                    </h5>
                    
                    <p class="card-text"> {{ jujum.content }} </p>
                     {% for tag in jujum.tags.all %}
                        <li style="display:inline;"> #{{ tag }} </li>
                    {% endfor %}
                    <br />
                    <a href="{% url 'home:main-jujum' jujum.pk %}" class="btn btn-primary">상세 페이지</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>    

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" id="nanjang_info" aria-current="page">난장 정보</li>
        </ol>
    </nav>

   <div class="row">
        {% for nanjang in object_list %}
        <div class="col-md-4">
            <div class="card" style="width: 22rem; margin: 10px;">
                {% if nanjang.menu %}
                    <img class="card-img-top" src="{{ nanjang.menu.url }}">
                {% else %}
                    <img class="card-img-top" src="/static/image/main.jpg">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ nanjang.title }}</h5>
                    <p class="card-text"> {{ nanjang.content }} </p>
                    <a href="{% url 'home:main-nanjang' nanjang.pk %}" class="btn btn-primary">상세 페이지</a>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" id="nanjang_info" aria-current="page">위치 정보</li>
        </ol>
    </nav>
   <!-- 난장 위치, 주점 위치 -->
   <div id="map"></div>

</div>



<script>
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 19,
            center: new google.maps.LatLng(35.969285, 126.956408),
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var features = [
            {
                position: new google.maps.LatLng(35.969778, 126.956910),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969578, 126.956910),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969378, 126.956910),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969178, 126.956910),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.971178, 126.956910),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969129, 126.956706),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969114, 126.956534),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969067, 126.956080),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969090, 126.956300),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969083, 126.956791),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969070, 126.956675),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969049, 126.956549),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969034, 126.956412),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969025, 126.956263),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.969010, 126.956142),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.968998, 126.956042),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.968974, 126.955919),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.968942, 126.955811),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.968917, 126.955729),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.968894, 126.955624),
                type: 'info',
            }, {
                position: new google.maps.LatLng(35.968904, 126.955503),
                type: 'info',
            },

        ];

        features.forEach(function (feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                map: map
            });
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDksOeoLGmwSM2vTx8S92IORZi2X7iHeXw&callback=initMap"> </script>

{% endblock %}
