{% extends 'home/detail_base.html' %} 

{% block content %}
<div class="container">
    
    <div class= "comment">
        <p></p>
        </div>

    <div class="row">

        <div class="jujum_image col-md-6">
            {% if object.menu %}
                <img src="{{ object.menu.url }}" class="img-fluid" alt="Responsive image">
            {% else %}
                <img src="/static/image/main.jpg" class="img-fluid" alt="Responsive image">
            {% endif %}
        </div>

        <div class="jujum_content col-md-6">
            <h1> {{ object.title }} </h1>
            <p> {{ object.content | safe}} </p>

            <div class="tag_section">
                {% for tag in object.tags.all %}
                    <li class= "tag_display"> #{{ tag }} </li>
                {% endfor %}
            </div>

            <div class="like_section">
                <i class="like far fa-heart fa-lg"></i>
                <p style="display:inline-block;" id="count_like-{{ object.id }}">{{ object.like_count }}개</p>
            </div>
        </div>
    </div>

    <div class="row">
        {% if object.image1 %}
            <div class="jujum_image col-md-4">
                <img src="{{ object.image1.url }}" class="img-fluid" alt="Responsive image">
            </div>
        {% endif %}

        {% if object.image2 %}
            <div class="jujum_image col-md-4">
                <img src="{{ object.image2.url }}" class="img-fluid" alt="Responsive image">
            </div>
        {% endif %}
        
        {% if object.image3 %}
            <div class="jujum_image col-md-4">
                <img src="{{ object.image3.url }}" class="img-fluid" alt="Responsive image">
            </div>
        {% endif %}
    </div>

    <div class="col-md-12 detail_btn">
        <button class="map_detail btn btn-light" data-toggle="collapse" href="#detail_map" role="button" aria-expanded="false"
            aria-controls="detail_map">
            상세 위치
        </button>

        <div class="collapse" id="detail_map">
            <div class="card card-body">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="comment">
        {% include 'home/comment.html' %}
    </div>
    
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDksOeoLGmwSM2vTx8S92IORZi2X7iHeXw&callback=initMap"> </script>

<script type="text/javascript">
    $(".like").click(function () {
        var pk = '{{ jujum.pk }}'
        $.ajax({
            type: "POST",
            url: "{% url 'jujum:like' jujum.pk %}",
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",

            success: function (response) {
                $('.far').toggleClass('fas');
                $("#count_like-" + pk).html(response.like_count + "개");
            },
            error: function (request, status, error) {
                window.location.replace("/home/")
            },
        });
    })
</script>

<script>
    function initMap() {
        var wku = { lat: parseFloat('{{ object.lat }}'), lng: parseFloat('{{ object.lng }}')};
        console.log(wku);
        
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: wku,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    

        var marker = new google.maps.Marker({
                    position: wku,
                    map: map,
                    label: '{{ object.title | safe}}',
                    title: "주점",
                    icon: '/static/image/icon2.png'
        });
    }
</script>

{% endblock %}

