{% load staticfiles %}
<div class="dummy dummy_margin" id="jujum_info"></div>
<div class="category">
    <img src="{% static '/image/jujum.jpg' %}">
</div>

<div class="row">
    {% for jujum in jujum_list %}
    <div class="list col-xs-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card list_margin margin_bottom">
            {% if jujum.menu %}
            <img class="card-img-top jujum-card" src="{{ jujum.menu.url }}">
            {% else %}
            <img class="card-img-top jujum-card" src="/static/image/default.jpg">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">
                    {{ jujum.title }}
                    <span class="badge badge-danger">New</span>
                </h5>

                <div class="tag_section">
                    {% for tag in jujum.tags.all %}
                        <li class="tag_display"> #{{ tag }} </li>
                    {% endfor %}
                </div>
                <br /><br />
                <a href="{% url 'jujum:detail' jujum.pk %}" class="btn btn-light more">more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>