/*-------------------------------------------------*/

/* 전체 적용 */

* {
    padding: 0;
 }

/*-------------------------------------------------*/

 #map {
    width: 100%;
    height: 600px;
    background-color: grey;
 }

.section {
    text-align: center;
    font-size: 3em;
}

.main {
    margin-top: 80px;
}

/*-------------------------------------------------*/

/* WONDERFUL모션  */

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-5deg)
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(10deg);
    }
}
/*-------------------------------------------------*/


/* 축제 일정 */

#calendar > div, #lineup > div {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-------------------------------------------------*/


/* navigation */

.navbar {
    margin-bottom: 20px;
}

.banner {
    border-radius: 10px;
    margin-bottom: 30px;
}

.nav-logo {
    font-size: 1.7em;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;

}

.nav-logo > p {
    color: #cabaf2;
    font-weight: 800;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #cabaf2,
    0 0 30px #cabaf2,
    0 0 40px #cabaf2,
    0 0 55px #cabaf2,
    0 0 75px #cabaf2;
}


.nav-text {
    font-size: 1.1em;
}

/*-------------------------------------------------*/

/* 라인 업 */

#lineup > div > h3 {
    font-weight: 800;
}

/*-------------------------------------------------*/

/* 난장 및 주점 디테일 */

.nanjang_image > img, .jujum_image > img {
    border-radius: 8px;
}

.nanjang_image, .nanjang_content, .jujum_image, .jujum_content {
    margin-top: 50px;
}

.detail_nav {
    margin-top: 30px;
}

.comment {
    margin-top: 50px;
}

.card-body > .card-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
}

.jujum-card {
    height: 480px;
}

.detail_map {
    position: relative;
    top: 25px;
}

.list_margin {
    width: 22rem;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tag_display {
    display:inline;
}

.more {
    background-color: lavender;
}

.more:hover {
    background-color: #c42ba2ab;
}

.dummy_margin {
    margin-bottom: 60px;
}
/*-------------------------------------------------*/

