/*-------------------------------------------------*/

@font-face {
    font-family: 'dayright';
    src: url('/static/font/dayrightr.ttf') format('truetype')
}
/* 전체 적용 */

* {
    padding: 0;
 }

/*-------------------------------------------------*/

 #map {
    width: 100%;
    height: 600px;
    background-color: grey;
 }

.section {
    text-align: center;
    font-size: 3em;
}

.main {
    margin-top: 80px;
}

/*-------------------------------------------------*/

/* WONDERFUL모션  */

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-5deg)
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(10deg);
    }
}
/*-------------------------------------------------*/


/* navigation */

.navbar {
    margin-bottom: 20px;
}

.banner {
    border-radius: 10px;
    margin-bottom: 30px;
}

.nav-logo {
    font-size: 1.7em;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;

}

.nav-logo > p {
    color: #cabaf2;
    font-weight: 800;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #cabaf2,
    0 0 30px #cabaf2,
    0 0 40px #cabaf2,
    0 0 55px #cabaf2,
    0 0 75px #cabaf2;
}


.nav-text {
    font-size: 1.1em;
}

/*-------------------------------------------------*/

/* 배너 */
@media screen and (max-width: 550px) {
    #banner1 {
        content: url('/static/image/m_banner.jpg');
    }
    #banner2 {
        content: url('/static/image/m_banner1.jpg');
    }
}

/* 축제 일정 */

#calendar > div, #lineup > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

#n_calender_info {
    height: 30px;
}

.calendar-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    font-family: 'dayright', 'Nanum Pen Script', cursive;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.calendar-img {
    border-radius: 10px;
}

.calendar-content {
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    font-family : 'dayright', 'Nanum Pen Script', 'Sunflower', sans-serif;
    line-height: 35px;
}

.content-title {
    text-align: center;
}

@media screen and (max-width: 550px) {
    .calendar-title {
        padding: 10px;
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        font-family: 'dayright', 'Nanum Pen Script', cursive;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .calendar-content {
        text-align: left;
        font-size: 1em;
        font-weight: 400;
        font-family: 'dayright', 'Nanum Pen Script',
        'Sunflower',
        sans-serif;
        line-height: 30px;
    }
}

/* 라인 업 */

#lineup > div > h3 {
    font-weight: 800;
}

.lineup_img {
    width: 100%;
    border-radius: 10px;
}
/*-------------------------------------------------*/

/* 난장 및 주점 디테일 */

.nanjang_image > img, .jujum_image > img {
    border-radius: 8px;
}

.jujum_content > h1 {
    text-align: center;
}

.jujum_content > p {
    line-height: 30px;
    font-family: 'dayright', 'Nanum Pen Script', cursive !important;
}

.nanjang_content > p {
    font-family: 'dayright', 'Nanum Pen Script', cursive !important;
}

.nanjang_image, .nanjang_content, .jujum_image, .jujum_content {
    margin-top: 50px;
}

.detail_nav {
    margin-top: 30px;
}

.comment {
    margin-top: 50px;
}

.list {
    margin: 10px 0;
    padding: 0;
}

.card-body > .card-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
}

.jujum-card {
    height: 400px;
}

.detail_map {
    position: relative;
    top: 25px;
}

.list_margin {
    width: 22rem;
    margin: 0 auto;
}

.map_detail {
    display: block;
    margin: 10px 0;    
}

.like {
    color: red;
}
/* tag 영역 */
.tag_display {
    display:inline;
}

.tag_section {
    height: 50px;
    margin: 30px 0;
}

.more {
    background-color: lavender;
}

.more:hover {
    background-color: #c42ba2ab;
}

.dummy_margin {
    margin-bottom: 60px;
}

.margin_bottom {
    margin-bottom: 10px;
}


/* 디테일 페이지 상세보기 버튼 */

.detail_btn {
    margin: 10px 0;
    padding: 0;
}

.detail_map {

}

/*-------------------------------------------------*/

/*category*/
.category {
    width: 200px;
    margin: 0 auto;
}

.category > img {
    margin: 40px 0px 40px 0px;
    width: 200px;
    height: 37px;    
}

/* about */

#about {
    width: 100%;
}

@media screen and (max-width: 550px) {
    #about {
        width: 100%;
        content: url("/static/image/m_about.jpg");
    }
}