* {
    margin: 0;
    padding: 0;
}
.section.fp-section {
    height: 100%;
}

h1 {
  margin: 10px 30px 10px;
  font-size: 8em;
  font-weight: 900;
  color: #fff;
}

h2 {
  color: rgba(255, 255, 255, .7);
  font-size: 1.73em;
  font-weight: 100;
  margin: 20px 40px 10px;
}

/* 첫 번쨰 영역 */
#wonderful {
    position: relative;
    background: url("/static/image/main.jpg") 50% 50% no-repeat fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.wonderful_nav {
    text-align: right;
    padding: 30px;
}

.wonderful_nav > a {
    color: white;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
}

/* 축제 일정 */
#calendar > img {
    position: relative;
    vertical-align: middle;    
}

.main_img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* 라인 업 */
#lineup {
  background: url("/static/image/line_up.jpeg") 50% 50% no-repeat;
}

#lineup_1 {
    background: url("/static/image/line_up_1.jpeg") 50% 50% no-repeat;
}

#lineup_2 {
    background: url("/static/image/line_up_2.jpeg") 50% 50% no-repeat;
}

#lineup_3 {
    background: url("/static/image/line_up_3.jpeg") 50% 50% no-repeat;
}

#lineup, #lineup_1, #lineup_2, #lineup_3 {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

#lineup > div.fp-slides > div > div.slide.fp-slide.fp-table.active > div > div > h1 {
    text-align: center;
}
/* 반응형 */
@media screen and (max-width: 550px) {
    #wonderful {
        background: url("/static/image/m_main.jpeg") 50% 50% no-repeat fixed;
        background-size: 100% auto;
    }

    #lineup {
        background: url("/static/image/m_line_up.jpeg") 50% 50% no-repeat;
    }

    #lineup_1 {
        background: url("/static/image/m_line_up_1.jpeg") 50% 50% no-repeat;
    }

    #lineup_2 {
        background: url("/static/image/m_line_up_2.jpeg") 50% 50% no-repeat;
    }

    #lineup_3 {
        background: url("/static/image/m_line_up_3.jpeg") 50% 50% no-repeat;
    }

    #lineup,
    #lineup_1,
    #lineup_2,
    #lineup_3 {
        background-size: 100% auto;
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #lineup {
        background: url("/static/image/line_up.jpeg") 50% 50% no-repeat;
    }

    #lineup_1 {
        background: url("/static/image/line_up_1.jpeg") 50% 50% no-repeat;
    }

    #lineup_2 {
        background: url("/static/image/line_up_2.jpeg") 50% 50% no-repeat;
    }

    #lineup_3 {
        background: url("/static/image/line_up_3.jpeg") 50% 50% no-repeat;
    }

    #lineup,
    #lineup_1,
    #lineup_2,
    #lineup_3 {
        background-size: 100% auto;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #lineup {
        background: url("/static/image/line_up.jpeg") 50% 50% no-repeat;
    }

    #lineup_1 {
        background: url("/static/image/line_up_1.jpeg") 50% 50% no-repeat;
    }

    #lineup_2 {
        background: url("/static/image/line_up_2.jpeg") 50% 50% no-repeat;
    }

    #lineup_3 {
        background: url("/static/image/line_up_3.jpeg") 50% 50% no-repeat;
    }

    #lineup,
    #lineup_1,
    #lineup_2,
    #lineup_3 {
        background-size: 100% auto;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #wonderful {
        background: url("/static/image/main.jpg") 50% 50% no-repeat fixed;
        background-size: 100% auto;
    }

    #wonderful h1 {
        margin: 10px 30px 10px;
        font-size: 3em;
        font-weight: 900;
        color: #fff;
    }

    #wonderful h2 {
        color: rgba(255, 255, 255, .7);
        font-size: 1.3em;
        font-weight: 100;
        margin: -10px 30px 10px;
    }

    #lineup {
        background: url("/static/image/line_up.jpg") 50% 50% no-repeat;
    }

    #lineup_1 {
        background: url("/static/image/line_up_1.jpg") 50% 50% no-repeat;
    }

    #lineup_2 {
        background: url("/static/image/line_up_2.jpg") 50% 50% no-repeat;
    }

    #lineup_3 {
        background: url("/static/image/line_up_3.jpg") 50% 50% no-repeat;
    }

    #lineup,
    #lineup_1,
    #lineup_2,
    #lineup_3 {
        background-size: 100% auto;
        width: 100%;
        height: 100%;
    }
}